asgiref==3.5.2
certifi==2022.9.24
dj-database-url==1.0.0
Django==4.1.2
django-heroku==0.3.1
django-leaflet==0.28.3
GDAL =3.4.3
gunicorn==20.1.0
Pillow==9.3.0
psycopg2==2.9.5
pyproj==3.4.0
sqlparse==0.4.3
tzdata==2022.5
whitenoise==6.2.0
